.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}


body {
    display: flex;
    flex-direction: column;
}
#cabecalho {
    background-color: #f1f1f1;
}
header {
    height: 10%;
}
.navbar {
    width: 80%;
}
.navbar-collapse {
    flex-grow: 0;
}

ul {
    list-style: none;
}
li {
    margin-right: 2em;
}
main {
    margin-top: 5%;
}
section {
    height: 100vh;
}
#home {
    height: 90vh;
}
#resumo {
    margin-right: 100px;
    margin-top: -100px;
    cursor: default;
}
#resumo > span {
    width: 100%;
    text-indent: 6px;
    font-size: 30px;
}
small {
    width: 100%;
    text-align: left;
    color: #888787;
    font-size: 20px;
    text-indent: 6px;
}
h1 {
    font-size: 5em;
    width: 100%;
    line-height: 1;
}
h1:hover {
    color: rgb(91, 187, 211) ;
    transition: 1s;
}
#cursor {
    margin-left: 2px;
    width: .2px;
    background-color: #ccc;
    animation: piscar 1s infinite;
}
#cursor.escrevendo {
    animation: none;
}
#texto-digitado {
    color: rgb(91, 187, 211);
}
.cardholder {
    margin-top: -100px;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 100px;
}
.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.thecard:hover {
    transform: rotateY(180deg);
}
.front {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: rgb(91, 187, 211);
}
.front > img {
    width: 95%;
    height: 95%;
    animation: jump 3s ease infinite;
}
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #fff;
    transform: rotateY(180deg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px #ccc solid;
}

footer {
    display: none;
    width: 200px;
    height: 200px;
}

@keyframes piscar {
    49% {background-color: #ccc;}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: #ccc;}
}

@keyframes jump {
    80% {transform: translatey(0);}
    85% {transform: translatey(-20px);}
    90% {transform: translatey(0);}
    95% {transform: translatey(-10px);}
    100% {transform: translatey(0);}
}

#tecnologias {
    font-size: 30px;
    margin-top: 2em;
    border: 1px #ccc solid;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#tecnologias i {
    font-size: 40px;
    
}

#html {
    color: red;
}

#css {
    color: aqua;
}

#javascript {
    color: darkorange;
}



@media(min-width:1400px) {
    .navbar {
        width: 60%;
    }
}